html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0px;
  padding: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

a {
  text-decoration: none;
}

/*Верхний футер */

.main-header {
  background: #f1f5f7;
}
.header-top {  
  margin-bottom: 50px;  
  background: #293449;
	
}

.header-top-left {
  float: left;
  width: 490px;
  height: 42px;
}

.header-top-left .logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 9px;
  height: 33px;
  width: 220px; 
  background: #ee3643;
  color: white;  
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;  
  color: #ffffff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
	box-shadow: 0 5px 0 0 #b72f38;
}

.header-top-left .logo:hover {
background: #ca2c37;
}

.header-top-left .logo:active {
background: #ba2732;
}

.header-top-left input {
  vertical-align: top;  
  margin: 0 -4px;
  width: 270px;
	padding-top: 11px;
	padding-bottom: 11px;
  background: #293449;
  border: #293449;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;  
  color: white;  

}


.header-top-left input:hover {
background: #212a3a;
color: #d3d4d8;
}

.header-top-left input:focus {
background: #ffffff;
color: #333333;
}

.header-top-right {
  float: right;
  width: 410px;
}

.header-top-right a {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 0 12px 45px;
  width: 102px;
  color: white;
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400; 

  
 } 

.header-top-right a:first-child {
  margin-left: -40px;
  margin-right: 0;
  width: 110px;
}

.header-top-right a:first-child:hover {
  background: #212a3a;
}

.header-top-right a:first-child:active {
  background: #161d29;
  color: #8b8e94;
}

.header-top-right .empty {
  margin-left: -4px;
  width: 100px;
}
.header-top-right .full {
  margin-left: -4px;
  width: 100px;
	background: red;
}
.header-top-right a:nth-child(2n):hover {
  background: #212a3a;
  }

.header-top-right a:nth-child(2n):active {
  background: #161d29;
  color: #8b8e94;
  }

.header-top-right a:last-child {
  float: right;  
  width: 133px;
  
  padding: 12px 0px 12px 17px;
  background: #63a63e;
}

.header-top-right a:last-child:hover {
  background: #5fbb2d;
  color: #aac39b;
}
.header-top-right a:last-child:active {
  background: #518534;
}


/*Средний футер */
.header-middle {
  margin-bottom: 5px;
}
.middle-info {
  float: left;
  width: 280px;
  min-height: 103px;
  margin-right: 40px;
    

}
.middle-info p {
  margin-top: -1px;
  padding-left: 52px; 
  width: 220px;
  color: #ee3643;
  font-family: "Cuprum";
  font-style: italic;
  font-size: 15px; 
  line-height: 23px;
  font-weight: 400;
}
.middle-contacts {
  float: left;
  width: 220px;  
  margin-top: -25px;
  margin-right: 90px;
}
.middle-contacts p:first-child {
  padding: 8px 8px 8px 70px;
  border: solid white 3px;
  width: 186px;
  color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 900;
  
}
.middle-contacts p:last-child {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: -13px;
  margin-left: 5px;
  width: 260px;
  padding: 0;
  color: #32425c;
  font-size: 12px;
  vertical-align: top;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
}

.user-box {
  margin: 0;
  float: left;
  width: 271px;
  margin-top: -4px;
  margin-left: 39px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  
}

.user-box .enter {
  display: inline-block;
  padding: 10px 27px 10px 47px;  
  text-decoration: none;
  margin-left: -10px;
  margin-right: 5px;
  width:47px;
  background: white;
  color: #000000;
}
.user-box .enter:hover {
  color: #f36c75;
}
.user-box .enter:active {
  color: #b2b2b2;
}
.user-box .registration {
  display: inline-block;
  padding: 10px 27px 10px 24px;
  padding-right: 27px;
  margin-right: 0;
  width: 98.7px;
  background: white;
  text-decoration: none;
  color: #000000;
}
.user-box .registration:hover {
  color: #f36c75;
}
.user-box .registration:active {
  color: #b2b2b2;
}
/*Нижний футер*/
.main-navigation {
	display: block;
  padding-left: 0px;  
  margin-top: 0;  
  color: white;
  background: #32425c;
  border-bottom: solid #293449 5px;
  text-align: center;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
	font-size: 0;
	

}
.main-navigation li {
  display: inline-block;
	text-align: center;
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
}

.main-navigation span{ 
  margin-left: 30px;
	margin-right: 30px;
  color: white;

}

.main-navigation a {
  display: block;	
  padding: 19px 30px 19px 30px; 
  color: white;
  text-decoration: none;
	vertical-align: top;
  
}
.main-navigation a:hover {
background-color: #293449; 
}
.main-navigation a:active {
  color: #59616e;
  background-color: #1d2739; 
}
/*Содержимое странницы*/
.top-content {
  margin-bottom: 33px;
  

}
.container {
  width: 940px;
  margin: 0 auto;
  }

.material {
	position: relative;
  float: left;
  width: 300px;
  height: 123px;
  padding: 0px;
  margin-top: 59px;
  margin-right: 20px;
  background: #f6b22d; 
	overflow: hidden;
}

.material-name h2 {
  width: 130px;
  margin-top: 22px;
  margin-left: 23px;
  margin-bottom: 24px;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-style: bold;
}

.material-link a {  
  margin-left: 25px;  
  padding: 12px 24px 10px;  
  color: white;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none; 
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  border-radius: 3px;
}
.material-link a:hover {
	background: rgba(0, 0, 0, 0.3);
}
.material-link a:active {
	background: rgba(0, 0, 0, 0.6);
}
.material-logo {
  float: right;  
  margin-top: -60px;
  margin-right: 43px;
}

.instrument {
  float: left;
  width: 300px;
  height: 123px;
  padding: 0px;
  margin-top: 59px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #4aafde;
}
.instrument-name h2 {
  width: 130px;
  margin-top: 22px;
  margin-left: 22px;
  margin-bottom: 24px;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-style: bold;
}

.instrument-link a {
  margin-left: 25px;
  width: 100px;
  padding: 12px 26px 10px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none; 
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  border-radius: 3px;
}
.instrument-link a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.instrument-link a:active {
	background: rgba(0, 0, 0, 0.6);
}

.instrument-logo {
  float: right;  
  margin-top: -58px;
  margin-right: 28px;
}

.technic {
  float: right;
  width: 300px;
  height:123px;
  padding: 0px;
  margin-top: 59px;
  margin-right: 0px;
  margin-bottom: 20px;
  background: #cc79d1;
}
.technic-name h2 {
  width: 130px;
  margin-top: 22px;
  margin-left: 23px;
  margin-bottom:24px;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-style: bold;
}

.technic-link a {
  margin-left: 23px;
  width: 135px;
  padding: 12px 31px 10px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none; 
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  border-radius: 3px;
}
.technic-link a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.technic-link a:active {
	background: rgba(0, 0, 0, 0.6);
}

.technic-logo {
  float: right;  
  margin-top: -60px;
  margin-right: 31px;
}


.sale {
  float: right;
  width: 300px;
  height:123px;
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  background: #85d179;
}
.sale-name h2 {
  width: 140px;
  margin-top: 22px;
  margin-left: 22px;
  margin-bottom: 24px;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-style: bold;
}

.sale-link a {
  margin-left: 23px;
  width: 130px;
  padding: 12px 23px 10px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none; 
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  border-radius: 3px;
}
.sale-link a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.sale-link a:active {
	background: rgba(0, 0, 0, 0.6);
}


.sale-logo {
  float: right;  
  margin-top: -65px;
  margin-right: 45px;
}

.delivery {
  float: right;
  width: 260px;
  height:83px;
  padding: 20px;
  margin-bottom: 20px;
  clear: both;
  background: #f6b22d;
}
.delivery-name h2 {
  width: 130px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 24px;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-style: bold;
}

.delivery-link a {
  margin-left: 3px;
  width: 100px;
  padding: 12px 37px 10px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  border-radius: 3px; 
}
.delivery-link a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.delivery-link a:active {
	background: rgba(0, 0, 0, 0.6);
}


.delivery-logo {
  float: right;  
  margin-top: -59px;
  margin-right: 11px;
}

                             /*СЛАЙДЕР*/
.promo-slider{
	margin-top: -143px;
	position: relative;
	float: left;
	width: 620px;
	min-height: 266px;
	overflow: hidden;
	background: black;
}
.slider  {
	width: 2000px;
	display: inline-block; 
}
.slide  {
  display: inline-block;
  vertical-align: middle;
  width: 620px;
  height: 266px;
  background: gray;
  
}


.title-slider h2 {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 0px;
  width: 220px;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-style: bold;
  text-transform: uppercase;
  }

.title-slider p {
  margin-top: 0px;
  margin-left: 25px;
  color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  }
  

 .slider-catalog a {
  vertical-align: middle;
  float: left;
  padding:12px 47px 10px 49px;  
  margin-left: 25px;
  margin-top: 104px;  
  background: #ee3643;
  color: white;
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
 }
.slider-catalog a:hover {
  background: #ca2c37;
}
.slider-catalog a:active {
  background: #ba2732;
}

.slider input[type="radio"]{
  display: none;
}
.slider-controls {
	position: absolute;
	left: 293px;
	top: 220px;
	text-align: center;
}

.slider-controls label{
	display: inline-block;
  width: 6px;
	height: 6px;
	margin: 0 3px;
	vertical-align: top;
	background: white;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.slider-inner {
    overflow: hidden;
}
.slider-slides{
	width: 2000px;
}

#rock-drill:checked ~ .slider label[for="rock-drill"],
#drill:checked ~ .slider label[for="drill"] {
	background: red; 
}
	
#rock-drill:checked ~ .slider .slide{
	transform: translate(0);
	background-image: url("../img/man-with-rock-drill.jpg");
}
#drill:checked ~ .slider .slide{
	transform: translate(-624px);
	background-image: url("../img/man-with-drill.jpg");
}


.container-content {
  background:  #f7f3ec;
  padding-bottom: 30px;  
	
}


.container-title { 
  display: inline-block;
  text-align: left;
  margin: 27px 231px 0 28px;
  width: 400px;
  height: 32px;
  color: #32425c;
   font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  
 }

.container-link {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 11px 42px;
  width: 169px;
  margin-top: -12px;
  background: #ee3643;
  color: white;
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
}

.container-link:hover {
  background: #ca2c37;
}
.container-link:active {
  background: #ba2732;
}

.catalog-item {
	width: inherit;
	font-size: 0;
}

.item {  
	position: relative;
  width: 218px;
  border: solid #e5e5e5 1px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.new:before{
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 10;
	width: 60px;
	height: 60px;
	content: '';
	background: url('../img/new-flag.png') no-repeat 0 0;
	
}
.item .selected {
	position: absolute;
	top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff; 
}
.selected .buy, .selected .bookmarks {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
  color: #fff;
  background-color: #63a63e;
	display: block;
	width: 135px;
	margin: 0 auto 7px;
	padding: 10px 0;
	border-radius: 3px;
}

.selected .buy {
	box-shadow: inset 0 -3px 0 #367315;
}
.selected .bookmarks {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}
.item .selected {
	display: none;
}
.item:hover .selected {
	display: block;
}
.catalog-item-img { 
	width: 218px;
  height: 168px;
	overflow: hidden;
}

.catalog-item-img img {
	padding: 28px 25px 0 0 ;
  max-width: 100%;
}

.item h2 {
  margin: 10px 0 15px 0;
	font-size: 18px;
	padding: 0 25px;
}
.catalog-item .old-price {
	min-height: 20px;
	margin: 0 0 10px 0;
  text-decoration: line-through;
  color: #999999;
}
.catalog-item .new-price {
	position: relative;
	border-radius: 3px;
	width: 80px;
	margin: 0 auto 20px;
	padding: 11px 30px;
  color: #fff;
	background: #ee3643;	
} 

.catalog-item .new-price:after{
	position: absolute;
	top: 0px;
	right: -20px;
	width: 0;
	height: 0;
	content: ' ';
	border: 21px solid #fff;
	border-left-color:#ee3643;
}
.item:last-child .new-price {
  margin-top: 45px;
}
.botton-container .item:nth-child(4n) {
  margin-right: 0;
}
.container-logo {
  height: auto;
  margin-bottom: 51px;
	
}

.container-logo img {
 display: inline-block;
 vertical-align: bottom;
 margin:  auto;
}
.container-logo a {
  display: inline-block;
  vertical-align: middle;
  width: 218px;
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 0px;
  border: solid #e7e7e7 1px;
  background: white;
	overflow: hidden;

}

.container-logo a:nth-child(4n) {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
}
                          /*СЛАЙДЕР СЕРВИСА*/
.service { 
	position: relative;
	padding: 30px  0 20px 0;
	 background: #f2f6f8;
  
}

.service-top h2{
 margin-bottom: 10px;
	 font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
	text-transform: uppercase;
  }
.service-top p{
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.service-top p:last-child{
 margin-bottom: 40px;
  }

.service input[type="radio"] {
 display: none;	
}

.service-slider-controlls{
	position: relative;
	display: inline-block;
	width: 240px;
}
.service-slider-controlls label{ 	
	display: block;
	padding: 20px 0 20px 29px;
	text-align: left;
	vertical-align: middle;
	background: #32425c;
	color: #ffffff;
	cursor: pointer;
	border: none;
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.delivery-slide {
	position: absolute;
	bottom: 130px;
	left: 260px;
  display: none;
	vertical-align: top;
  width: 330px;
  color: #32425c;
	margin: 0;
	
}
.delivery-slide .title{
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
	text-transform: uppercase;
}
.delivery-slide .description
{
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.guaranty-slide {
	display: none;
	position: absolute;
	bottom: 45px;
	left: 260px;
  display: none;
vertical-align: top; 
  width: 330px;
  color: #32425c;
	margin: 0;
}
.credit-slide {
	position: absolute;
	bottom: 150px;
	left: 260px;
  display: none;
vertical-align: top;
  display: none;
  width: 330px;
  color: #32425c;
	margin: 0;
}



#btn1:checked ~ .vertical-slider label[for="btn1"],
#btn2:checked ~ .vertical-slider label[for="btn2"],
#btn3:checked ~ .vertical-slider label[for="btn3"]{
	background: #ffffff;
	color: #32425c;
}

#btn1:checked ~ .vertical-slider .delivery-slide {
	display: inline-block;
}
#btn2:checked ~ .vertical-slider .guaranty-slide {
display: inline-block;
}
#btn3:checked ~ .vertical-slider .credit-slide {
	display: inline-block;
}


.vertical-slider{
	min-height: 250px;
}
#btn1:checked ~ .vertical-slider {
	position: relative;
	background-image: url(..//img/delivery.png);
	background-repeat: no-repeat;
	background-position: 	right 0px;
	
	
}
#btn2:checked ~ .vertical-slider {
	position: relative;
	background-image: url(..//img/guaranty.png);
	background-repeat: no-repeat;
	background-position: 	right 0px;
	
}
#btn3:checked ~ .vertical-slider {
	position: relative;
	background-image: url(..//img/credit.png);
	background-repeat: no-repeat;
	background-position: 	right 0px;
	
}




.company {
	
}
.company-left {
  width: 511px;
  float: left;
	margin-bottom: 30px;
}
.company-left h2{
margin-top: 76px;
margin-bottom: 24px;
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
text-transform: uppercase;
font-weight: 100;
}

.company-left p{
  margin-bottom: 25px;	
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: regular;
}
.company-left ul{
	margin-top: -6px;
	margin-left: -5px;
	margin-bottom: 5px;
	list-style: none;
}
.company-left li{
	margin-bottom: 15px;
	font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
	font-weight: 600;
}

.company-left a{
  display: block;
  vertical-align: top;
  margin-top: 23px;
  text-align: center;
  padding: 12px 40px 10px;
  width: 140px;
  background: #ee3643;
  color: white;
  text-decoration: none;
	font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
	text-transform: uppercase;
	
}
.company-left a:hover {
  background: #ca2c37;
}
.company-left a:active {
  background: #ba2732;
}

.company-right {
  width: 300px;
  float: right;
  margin-right: 0px;
}
.company-right h2{
  margin-top: 76px;
	margin-bottom: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	font-weight: 100;
	text-transform: uppercase;
  }

.company-right p {
	margin-bottom: 31px;
  width: 220px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
  }

.company-map {
	margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 150px;  
}

.company-right a:last-child {
  display: inline-block;
  text-align: center;
  padding: 12px 46px 10px 51px;
  width: 203px;
  background: #ee3643;
  color: white;
  text-decoration: none;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.company-right a:hover {
  background: #ca2c37;
}
.company-right a:active {
  background: #ba2732;
}

/*футер*/

.main-footer {
  margin: -10px;
  background: #32425c;
}

.footer-top {
  display: inline-block;
  width: inherit;
  margin-bottom: 20px;

}
  
.footer-top-content .logo{ 
  float: left;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0 0px;
  width: 220px; 
  background: #ee3643;
  color: white;
  text-decoration: none;
  font-size: 30px;
  border-bottom: solid #b72f38 5px; 
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	margin-right: 173px;
  }

.footer-top-content .logo:hover {
  background: #ca2c37;
}
.footer-top-content .logo:active {
  background: #ba2732;
}
.promo-1 { 
	display: inline-block;
  padding: 0;
	margin-top: 39px;
  width: auto;
  list-style: none;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
  
} 
 .promo-1 a {  
  display: inline;
  vertical-align: top;
  margin-right: 54px;
 }

.promo-1 a {
  color: #f1f5f7;
}
.promo-1 a:hover {
  border-bottom: solid #f1f5f7 1px;
  }
  .promo-1 a:active {
    color: #788495;
  border-bottom: none;
  }


 .promo-1 a:last-child{
  margin-right: 0px;
  }

.footer-middle {
	display: block;
  width: inherit;
	margin: 0 0 39px 0;
}
.footer-middle-content {
}
.adress {
  float: left;
  width: inherit;  
  margin-left: 4px;
	margin-right: -40px;
  color: #f1f5f7;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 6px;
 
}
.promo-2 {
	display: inline-block;
	width: inherit;
	list-style: none;
	margin: 10px 0 0 130px;
	padding: 0 0 0 0;
	
}

.promo-2 a {
	display: inline;
	text-align: top;  
	margin: 0 55px 0 0;
	color: #f1c77e;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
}

.promo-2 a:hover {
  border-bottom: solid #f1c77e 1px;
}

.promo-2 a:active {
  color: #998a6e;
  border-bottom: none;
}
.promo-2 a:last-child {
  margin-right: 0px;
}

.footer-bottom {
  background: #293449;
  color: #f1f5f7;
	padding: 29px 0 0 0;
	margin: 0;
}

.copyrights {
  display: inline-block;
  width: 230px;
  margin: 0 160px 1px 2px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 2px;
  
}
.footer-bottom  a{
  color: #d4b275;
}
.social{
  display: inline-block;
	margin: 0 181px 0 0;
  width: auto;
}
.mail{
  display: inline-block;
  margin-right: 34px;
  width: 150px;
	font-family: "cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 2px;
}

.mail a:hover{
  border-bottom: solid #ffd180 1px; 
}

.mail a:active{
color: #ee3643;
border-bottom: none;
  }

.design {  
  display: inline-block;
  margin-right: 50px;
  width: 105px;
	font-family: "cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 2px;
}

.design:last-child{
  margin-right: 0;
}

.design:last-child a:hover{
border-bottom: solid #ffd180 1px;
}

.design:last-child a:active{
  color: #ee3643;
  border-bottom: none;
}


/*===================================================
  СТРАНИЦА КАТАЛОГА
===================================================*/


/*Равшан*/
.user-box .login{
  display: inline-block;
	vertical-align: top;
  display: block;
	margin: 0 0 -22px -28px;
  padding: 10px 0 11px 46px;
  background: white;
  color: black;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
}

.user-box .login:hover {

}

.user-box .login:active {
color: #b2b2b2;
}

.my-order {
  display: inline-block;
	color: #32425c;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	margin-left: -10px;
	margin-right: 26px;
	text-decoration: underline;
	
}
	
.my-order:hover {
color:#ee3643;


}
.my-order:active {
color: #b7bfc8;

  }
.my-office {
  display: inline-block;
  display: inline-block;
  color: #32425c;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	text-decoration: underline;
}
.my-office:hover {
color:#ee3643;


}
.my-office:active {
color: #b7bfc8;

}

.bradcrumps ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
}

.bradcrumps li {
  display: inline-block;
  margin: 1px 35px 0 0;
  padding: 20px 0 0 0;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	
}
.bradcrumps a {
  width: 115px;
  color: black;
	
}
.shop-title {
  padding: 26px 0 38px 28px;
  height: 24px;
  background: #f2f6f8;
  margin-bottom: 20px;
}

.shop-title h2 {
  margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
	font-weight: 100;
	
}




/*фильтр*/

.content-left {
  float: left;
  width: 220px;
  display: inline-block;
  margin-right: 20px;
}
.content-name {
  margin: 0;
}
.content-left h3 {
  padding: 10px 0px 3px 18px;
  height: 25px;
  background: #f7f3ec;
  margin-bottom: 15px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	
}

.content-left h2 {
  margin: 0 0 20px 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

.range-controls {
	position: relative;
	 height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
	padding-top: 39px;
	padding-right: 20px;
  padding-left: 20px;
  background: #f7f3ec;
}
.range-controls .scale {
	 height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
	position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
	cursor: pointer;
  border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
  background: #ababab;
}
.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 170px;
}
.price-box input{
	display: inline-block;
  width: 100px;
  height: 33px;
  background: #f7f3ec;  
  margin-bottom: 40px;
	border: none;
  border-radius: 5px;
  outline: none;
  background: #f7f3ec;
}
.max-price{
	margin-left: 15px;
}

.filter-produser h2 {
  display: inline-block;
  margin: 0 0 20px 0;
}
.filter-produser ul {
  width: 140px;
  list-style: none;
  margin: 0;
}
.filter-produser li {
  display: inline-block;
  width: inherit;
	padding-left: 20px;
  margin: 0 0 15px -45px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}
.filter-produser li:last-child {
  margin-bottom: 60px;
}
.filter-produser p {
  margin: -5px 0 0 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}
.filter-produser p:last-child {
  margin: 10px 0 75px 0;
}

.filter-btn {
  width: 140px;
  height:38px;
}
/*сортировка товаров функионал, тип, цена*/
.content-right {
  display: inline-block;
  width: 700px;
}

.content-right-filter {
  height: 38px;
	width: auto;
  margin-bottom: 0px;
  background: #f7f3ec;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;

}

.content-right-filter h3 {
  display: inline;
  width: 150px;
  margin-left: 18px;
  margin-top: 18px;
  margin-right: 136px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
  }

.content-right-filter a {
  display: inline-block;
  margin: 10px 67px 10px 0px;
  color: #b2b2b2 ;
  border-bottom: dashed #ee3643 1px;
  }
  .content-right-filter a:hover {
    color: #000000;
    border-bottom: solid #ee3643 1px;
  }
.content-right-filter a:active {
  color: #ee3643;
  border-bottom: none;
}

  .content-right-filter a:nth-child(4n)  {
		margin-left: -5px;
    margin-right: 0;
  }
  .btn-filter {
		display: inline-block;
		float: right;
		width: 100px;
		height: inherit
  }

/*перфораторы*/
.content-right .item:nth-child(3n+3) .new-price {
  margin-top: 45px;
}
.content-right .item:nth-child(3n+3) {
	margin-right: 0;
}
/*информация внизу страницы*/
.content-bottom { 
	margin-top: 26px;
	padding: 40px  0 40px 0;
  background: rgb(242,246,248);
}

.content-bottom h2 { 
  width: inherit;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 100;
}

.content-bottom p {
 width: inherit;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 13px
}




