html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0px;
  padding: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}
/*Верхний футер */

.main-header {
  background: #f1f5f7;
  height: 320px;
}
.header-top {
  padding-left: 162px;
  padding-right: 161px;
  height: 42px;
  margin-bottom: 50px;  
  background: #293449;
}

.header-top-left {
  float: left;
  width: 490px;
  height: 42px;
}

.header-top-left .logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
  height: 30px;
  width: 220px; 
  background: #ee3643;
  color: white;
  border-bottom: solid #b72f38 5px;
  text-decoration: none;
}
.header-top-left .logo:hover {
background: #ca2c37;
}
.header-top-left .logo:active {
background: #ba2732;
}
.header-top-left input {
  vertical-align: top;
  border: #293449;
  height: 41px;
 margin: 0 -4px;
  width: 270px;
  background: #293449;
}
.header-top-left input:hover {
background: #212a3a;
color: #d3d4d8;
}
.header-top-left input:active {
background: #212a3a;
background: #ffffff;
color: #333333;
}
.header-top-right {
  float: right;
  width: 410px;
  height: 42px;
}

.header-top-right a {
  display: inline-block;
  width: 103px;
  padding-left: 45px;
  padding-top: 12px;
  height: 30px;
  color: white;
  text-decoration: none;
  
 } 


.header-top-right a:first-child {
  margin-left: -40px;
}


.header-top-right a:first-child:hover {
  background: #212a3a;
}

.header-top-right a:first-child:active {
  background: #161d29;
  color: #8b8e94;
}
.header-top-right a:nth-child(2n) {
  margin-left: -4px;
  margin-right: 0px;
  width: 105px;
}
.header-top-right a:nth-child(2n):hover {
  background: #212a3a;
  }
.header-top-right a:nth-child(2n):active {
  background: #161d29;
  color: #8b8e94;
  }

.header-top-right a:last-child {
  float: right;
  display: inline-block;
  width: 133px;
  margin-left: -21px;
  padding-left: 17px;
  background: #63a63e;
}
.header-top-right a:last-child:hover {
  background: #5fbb2d;
  color: #aac39b;
}
.header-top-right a:last-child:active {
  background: #518534;
}
/*Средний футер */
.header-middle {
  margin-bottom: -5px;
}
.middle-info {
  float: left;
  width: 280px;
  min-height: 103px;
  margin-right: 40px;

}
.middle-info p {
  height: 112px;
  margin: 0;
  padding-left: 50px; 
  width: 191px;
  color: #ee3643;
}
.middle-contacts {
  float: left;
  width: 220px;  
  height: 112px;
  margin-top: -20px;
  margin-right: 90px;
}
.middle-contacts p:first-child {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: solid white 3px;
  height: 20px;
  color: #ee3643;
  
}
.middle-contacts p:last-child {
  margin: 0;
  padding-left: 0px;
  color: #32425;
  font-size: 14px;
  text-align: center;
}

.user-box {
  margin: 0;
  float: left;
  width: 270px;
  height: 103px;
  margin-top: -4px;
  margin-left: 39px;
  
}

.user-box .enter {
  padding-top: 15px;
  padding-left: 47px;
  padding-right: 27px;
  display: inline-block;
  text-decoration: none;
  margin-left: -10px;
  margin-right: 5px;
  height: 32px;
  background: white;
  color: #000000;
}
.user-box .enter:hover {
  color: #f36c75;
}
.user-box .enter:active {
  color: #b2b2b2;
}
.user-box .registration {
  float: right;
  display: inline-block;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 27px;  
  margin-right: 0;
  display: inline-block;
  height: 30px;
  width: 101px;
background: white;
  text-decoration: none;
  color: #000000;
}
.user-box .registration:hover {
  color: #f36c75;
}
.user-box .registration:active {
  color: #b2b2b2;
}
/*Нижний футер*/
.main-navigation {
  padding-left: 18px;
  float: left;
  width: 922px;
  height: 56px;
  color: white;
  background: #32425c;
  border-bottom: solid #293449 5px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

}
.main-navigation li {
  display: inline-block;
  vertical-align: top;

}


.main-navigation a {
  display: block;
  padding: 20px 30.89px;
  margin-left: -5px;
  color: white;
  text-decoration: none;
}
.main-navigation a:hover {
background-color: #293449; 
}
.main-navigation a:active {
  color: #59616e;
  background-color: #1d2739; 
}
/*Содержимое странницы*/
.top-content {
  height: 525px;

}
.container {
  width: 940px;
  margin: 0 auto;
  }

.material {
  float: left;
  width: 300px;
  height: 123px;
  padding: 0px;
  margin-top: 60px;
  margin-right: 20px;
  background: #f6b22d;
}

.material-name h2 {
  width: 130px;
  margin-top: 25px;
  margin-left: 25px;
  color: white;
}

.material-link a {
  
  margin-left: 25px;
  width: 100px;
  padding: 10px 17px;  
  color: white;
  background: #dda028;
  text-decoration: none; 
}

.material-logo {
  float: right;  
  margin-top: -65px;
  margin-right: 43px;
}

.instrument {
  float: left;
  width: 300px;
  height:123px;
  padding: 0px;
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #4aafde;
}
.instrument-name h2 {
  width: 130px;
  margin-top: 25px;
  margin-left: 25px;
  color: white;
}

.instrument-link a {
  margin-left: 25px;
  width: 100px;
  padding: 10px 20px; 
  color: white;
  background: #429dc7;
  text-decoration: none; 
}

.instrument-logo {
  float: right;  
  margin-top: -65px;
  margin-right: 30px;
}

.technic {
  float: right;
  width: 300px;
  height:123px;
  padding: 0px;
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 20px;
  background: #cc79d1;
}
.technic-name h2 {
  width: 130px;
  margin-top: 25px;
  margin-left: 25px;
  color: white;
}

.technic-link a {
  margin-left: 25px;
  width: 135px;
  padding: 10px 25px;
  color: white;
  background: #b76dbc;
  text-decoration: none; 
}

.technic-logo {
  float: right;  
  margin-top: -65px;
  margin-right: 32px;
}


.sale {
  float: right;
  width: 300px;
  height:123px;
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  background: #85d179;
}
.sale-name h2 {
  width: 140px;
  margin-top: 25px;
  margin-left: 25px;
  color: white;
}

.sale-link a {
  margin-left: 25px;
  width: 130px;
  padding: 10px 16px;
  color: white;
  background: #77bc6d;
  text-decoration: none; 
}

.sale-logo {
  float: right;  
  margin-top: -65px;
  margin-right: 31px;
}

.delivery {
  float: right;
  width: 260px;
  height:85px;
  padding: 20px;
  margin-bottom: 20px;
  clear: both;
  background: #f6b22d;
}
.delivery-name h2 {
  width: 130px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}

.delivery-link a {
  margin-left: 10px;
  width: 100px;
  padding: 10px 32.9px;
  color: white;
  background: #dda028;
  text-decoration: none; 
}

.delivery-logo {
  float: right;  
  margin-top: -65px;
  margin-right: 12px;
}


.slider-1 {
  display: inline-block;
  vertical-align: middle;
  width: 620px;
  height: 266px;
  background: gray;
  background-image: url("../img/man-with-rock-drill.jpg");
  
}
.title-slider h2 {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 15px;
  width: 220px;
  color: white;
  }

  .title-slider p {
    margin-top: 0px;
  margin-left: 25px;
  width: 220px;
  color: white;
  
  }
  

 .slider-catalog a {
  vertical-align: middle;
  float: left;
  padding:9px 48px;  
  margin-left: 25px;
  margin-top: 102px;
  width: 115px;
  height: 20px;
  background: #ee3643;
  color: white;
  text-decoration: none;
 }
.slider-catalog a:hover {
  background: #ca2c37;
}
.slider-catalog a:active {
  background: #ba2732;
}
.slider-carousel {
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.container-content {
  background:  #f7f3ec;
  height: 90px;
  margin: 0 0 20px 0;
}

.container-title { 
  display: inline-block;

  margin: 33px   0px 0 30px;
  width: 400px;
  height: 30px;
  color: #32425c;
 }


.container-link {
  float: right;
  display: inline-block;  
  text-align: center;
  padding: 10px 42px;
  width: 169px;
  margin-top: 25px;
  margin-right: 20px;
  background: #ee3643;
  color: white;
  text-decoration: none;
}
.container-link:hover {
  background: #ca2c37;
}
.container-link:active {
  background: #ba2732;
}


.item {
  display: inline-block;
  width: 218px;
  height: 320px;
  float: left;
  margin-right: 20px;
  margin-bottom: 21px;
  border: solid #e5e5e5 1px;
}
.item:hover {

  }

.item:nth-child(4n) {
  display: inline-block;
  float: right;
  margin-right: 0px;
  margin-bottom: 0px;
}

.item img {
  margin-left: 45px;
  margin-right: 45px;
}

.item h2 {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 210px;
}

.item p {
  text-align: center;
  
}
.item .old-price {
  text-decoration: line-through;
  color: #999999;
}
.item .new-price p {
  margin-left: 40px;
  text-align: center;
  padding: 10px 35px;
  width: 70px;
  height: 18px;
  background: #ee3643;
  color: white;

}  
.item .new-price {
  margin-bottom: 20px;
}
.item:last-child .new-price {
  margin-top: 50.5px;
  margin-bottom: 20px;
}

.container-logo {
  height: 415px;
}

.container-logo img {
  margin-top: -15px;
  padding: 50px 30px;
  width: 155px;
  height: 42px;
  border: solid #e7e7e7 1px;
}

.container-logo a {
  display: inline-block;
  vertical-align: middle;
  height: 145px;
  width: 217px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: white;
}

.container-logo a:nth-child(4n) {
margin: 0;
}

.service {
  height: 522px;
  margin-top: -15px;
  
}
.service-top {
  margin-top: 0px;
  
}
.service-top h2{
  padding-top: 65px;
  margin-bottom: 35px;
  }
.service-slider{
  margin-top: 90px;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 140px;
}
.service-slider-btn {
  margin-top: 90px;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 60px;
  color: #32425c;
}

.service-slide {
  margin-top: 90px;
  display: inline-block;
  vertical-align: top;
  width: 330px;
  color: #32425c;
}
.company {
  height: 535px;
}

.company-left {
  width: 509px;
  float: left;
  margin-right: 1px;
}
.company-left h2{
margin-top: 80px;
margin-bottom: 0;
}
.company-left p{
  margin-top: 40px;
  margin-bottom: 27px;

  }
.company-left a{
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
  text-align: center;
  padding: 9px 40px;
  width: 157px; /*должна быть ширина 140px*/ 
  background: #ee3643;
  color: white;
  text-decoration: none;
}
.company-left a:hover {
  background: #ca2c37;
}
.company-left a:active {
  background: #ba2732;
}

.company-right {
  width: 430px;
  float: right;
  margin-right: 0px;
}
.company-right h2{
  margin-top: 80px;
  margin-bottom: 0;
  }

.company-right p {

  margin-top: 40px;
  margin-bottom: 0;
  width: 220px;
  }



.company-map {
  margin-top: 40px;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: middle;
  height: 150px;  
}

.company-right a:last-child {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  padding: 11px 48.85px;
  background: #ee3643;
  color: white;
  text-decoration: none;
}
.company-right a:hover {
  background: #ca2c37;
}
.company-right a:active {
  background: #ba2732;
}

/*футер*/

.main-footer {
  margin: -10px;
  background: #32425c;
}

.footer-top {
  display: inline-block;
  width: 935px;
  height: 193px;

}
  
.footer-top-top .logo{ 
  float: left;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
  height: 51px;
  width: 220px; 
  background: #ee3643;
  color: white;
  text-decoration: none;
  font-size: 30px;
  border-bottom: solid #b72f38 5px; 
  }
.footer-top-top .logo:hover {
background: #ca2c37;
}
.footer-top-top .logo:active {
background: #ba2732;
}
.promo-1 ul { 
  float: right;
  display: inline-block;
  margin: 40px 130px 0 0px;
  padding: 0;
  width: 415px;
  list-style: none;
  
} 
 .promo-1 li {  
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
 }

.promo-1 li a {
  color: #f1f5f7;
}
.promo-1 li a:hover {
  border-bottom: solid #f1f5f7 1px;
  }
  .promo-1 li a:active {
    color: #788495;
  border-bottom: none;
  }


 .promo-1 li:last-child{
  margin-right: 0px;
  }

.adress {
  float: left;
  display: inline;
  width: 325px;  
  margin-left: 5px;
  margin-right: 85px;
  color: #f1f5f7;
 
}
.promo-2 li{
  display: inline;
  margin-right: 12px;
  
}

.promo-2 li a {
  color: #f1c77e;
}
.promo-2 li a:hover {
  border-bottom: solid #f1c77e 1px;
  }
  .promo-2 li a:active {
    color: #998a6e;
  border-bottom: none;
  }
.promo-2 li:last-child{
  margin-right: 0px;

  }

.footer-bottom {
  padding-left: 170px;
  background: #293449;
  color: #f1f5f7;
}

.footer-bottom  a{
  color: #d4b275;
}
.copyrights {
  float:left;
  width: 200px;
  margin-left: 2px;
  margin-right: 140px;
  
}
.social{
  display: inline-block;
  margin-right: 120px;
  
  width: 65px;
}
.mail{
  display: inline-block;
  margin-right: 30px;
  width: 150px;
}

.mail a:hover{
  border-bottom: solid #ffd180 1px; 

}
.mail a:active{
color: #ee3643;
border-bottom: none;
  }
.design{
  
  display: inline-block;
  margin-right: 50px;
  width: 105px;
}
.design:last-child{
  margin-right: 0;
}

.design:last-child a:hover{
border-bottom: solid #ffd180 1px;
}
.design:last-child a:active{
  color: #ee3643;
  border-bottom: none;
}


/*===================================================
  СТРАНИЦА КАТАЛОГА
===================================================*/
.bradcrumps ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
}

.bradcrumps li {
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 20px 0 0 0;
}
.bradcrumps a {
  width: 115px;
  color: black;
}

/*Равшан*/
.user-box .login{
  float: right;
  width: 185px;
  display: block;
  padding: 13px 69px 13px 46px;
  margin-bottom: 10px;
  background: white;
  color: black;

}
.user-box .login:hover{

}
.user-box .login:active{
color: #b2b2b2;
}
.my-order {
  display: inline-block;
margin-left: -30px;
color: #32425c;
}
.my-order:hover {
color:#ee3643;
border-bottom: solid #ee3643 1px;

}
.my-order:active {
color: #b7bfc8;
border-bottom: solid #b7bfc8 1px;
  }
.my-office {
  float: right;
  display: inline-block;
  margin-right: 72px;
  color: #32425c;
}
.my-office:hover {
color:#ee3643;
border-bottom: solid #ee3643 1px;

}
.my-office:active {
color: #b7bfc8;
border-bottom: solid #b7bfc8 1px;
}
.shop-title {
  padding: 33px 0 33px 30px;
  height: 24px;
  background: #f2f6f8;
  margin-bottom: 20px;
}

.shop-title h2 {
  margin: 0;
}


/*фильтр*/

.content-left {
  float: left;
  width: 220px;
  display: inline-block;
  margin-right: 20px;
}

.content-left h3 {
  padding: 13px 0 0 17px;
  height: 25px;
  width:204px;
  background: #f7f3ec;
  margin-bottom: 20px;
}

.content-left h2 {
  margin: 0 0 20px 0;
}

.price-box input{
  width: 90px;
  height: 33px;
  background: #f7f3ec;
  margin-right: 27px;
  margin-bottom: 50px;
}
.price-box input:last-child{
  margin: 0 0 0 0px;
}

.filter-produser h2 {
  display: inline-block;
  margin: 0 0 20px 0;
}
.filter-produser ul {
  width: 100px;
  background: blue;
  list-style: none;
  margin: 0;
}
.filter-produser li {
  float: left;
  display: block;
  padding-left: 35px;
  width: 100px;
  margin: 0 0 29px -40px;
}
.filter-produser li:last-child {
  margin-bottom: 50px;
}
.filter-produser p {
  margin: 0 0 15px 0;
}
.filter-produser p:last-child {
  margin: 0 0 75px 0;
}

.filter-btn {
  width: 140px;
  height:38px;
}
/*сортировка товаров функионал, тип, цена*/
.content-right {
  display: inline-block;
  width: 700px;
}

.content-right-filter {
  height: 38px;
  margin-bottom: 20px;
  background: #f7f3ec;

}

.content-right-filter h3 {
  display: inline;
  width: 150px;
  margin-left: 18px;
  margin-top: 18px;
  margin-right: 115px;
  }

.content-right-filter a {
  display: inline-block;
  margin: 10px 60px 10px 0px;
  color: #b2b2b2 ;
  border-bottom: dashed #ee3643 1px;
  }
  .content-right-filter a:hover {
    color: #000000;
    border-bottom: solid #ee3643 1px;
  }
.content-right-filter a:active {
  color: #ee3643;
  border-bottom: none;
}

  .content-right-filter a:nth-child(4n)  {
    margin-right: 0;
  }
  .btn-filter {
    float: right;
    display: inline-block;
    width: 100px;
  }
.content-name {
  margin: 0;
}

/*изображения товаров в катаоге*/
.catalog-goods{
  width: 700px;
}
.catalog-goods .item{ 
  float: left; 
  width: 218px;
  height: 316px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.catalog-goods .item:nth-child(3n) {
  float: right;
  margin-right: 0px;
}

.content-bottom {
  clear: both;
  background: rgb(242,246,248);
}
.content-bottom h2, .content-bottom p {
  width: 820px;
}






/*======================================
 Системное оформление - не изменять
=======================================*

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}